<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>V-F-C.</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">

  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="#" class="nav-branding">VFC.</a>

        <ul class="nav-menu">
          <li class="nav-item">
            <a href="#" class="nav-link home-nav">Home</a>
            <!-- <a href="#"><button>Home</button></a> -->
          </li>
          <li class="nav-item">
            <a href="/signup" class="nav-link">Signup</a>
            <!-- <a href="#"><button>Login/Signup</button></a> -->
          </li>

          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
            <!-- <a href="#"><button>Login/Signup</button></a> -->
          </li>
          <li class="nav-item" >
            <a href="/admin/login" class="nav-link">Admin</a>
            <!-- <a href="#"><button>Login/Signup</button></a> -->
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <script src="/script.js"></script>
    <div class="TextscrollingContener">
      <div class="group">
        <p class="text">
          Voting is an integral part of democracy, and it is necessary for people to have a voice. Everyone has the right to vote, which means that all Indians can vote for the Prime Minister of their choice. By voting, you can create change and make a difference in your community. It is also important to vote because you can only repeal a law if most citizens agree with i
        </p>
      </div>
    </div>
     <!-- <div class="imgSlider1"></div> -->
     <!-- <div class="imgSlider2"></div> -->
    <!-- <div class="container">
      <div class="slider-wrapper">
        <div class="image-list">
          <img src="/images/pic1.jpg" alt="img-1" class="image-item">
          <img src="/images/pic3.png" alt="img-2" class="image-item">
          <img src="/images/pic4.jpg" alt="img-3" class="image-item">
          <img src="/images/pic5.jpg" alt="img-4" class="image-item">
          <img src="/images/pic6.jpg" alt="img-5" class="image-item">
          
        </div> -->
      
    </div>
    <div class="block-A">
      <div class="icon-container">
        <div class="icon">
            <img src="/icon/vote.png" alt="icon-1" class="icon-item">
        </div>
      </div>
      <div class="text-btn-container">

        <div class="text-container">
         <div class="large-font">
            <h1 class="l-font">Early Voting is Open to all Registered Voters  in <a href="https://sxcpatna.edu.in/" class="link">  College Campus.</a></h1><br>
         </div>
          <div class="small-font" >
           <div>
              <h2 >The Significance of Voting   </h2>
           </div>
            <div>
              <p class="s-font"> Voting is not just a right, but also a responsibility of every citizen. It's the tool by which people choose <br> their representatives in the government.</p>
           </div>
            
        </div>
    
        <div class="btn-conainer">
          <div class="button">
            <button class="btn-item">Learn More</button>
          </div>
        </div>
      </div>
    </div>

    <div class="block-B">
      <div class="block-B-Row1">
        <div class="block-B1 inner-Block-B">
          <samp class="icon-feature_box_B1">
            <img src="/icon/register.png" alt="register_icon" style="border-radius: 10%;" width="100px" height="110px">
          </samp>
          <h4 ><a href="/signup" class="Register_icon_link link">Register to vote</a></h6>
        </div>
        <div class="block-B2 inner-Block-B">
          <samp class="icon-feature_box_B2">
            <img src="/icon/gmail.png" alt="gmail_icon" style="border-radius: 10%;" width="100px" height="110px">
          </samp>
          <h4><a href="#" class="Mail_icon_link  link">vote by Mail</a></h4>
        </div>
        <div class="block-B3 inner-Block-B">
          <samp class="icon-feature_box_B3">
            <img src="/icon/result-Icon.png" alt="gmail_icon" style="border-radius: 10%;" width="100px" height="110px">
          </samp>
          <h4><a href="/login" class="Mail_icon_link  link">View Election results</a></h4>
        </div>
      </div>
      <div class="block-B-Row2 ">
        <div class="block-B4 inner-Block-B" >
          <samp class="icon-feature_box_B4">
            <img src="/icon/location.png" alt="location_icon" style="border-radius: 10%;" width="100px" height="110px">
          </samp>
          <h4><a href="#" class="location_icon_link link">Where to Vote</a></h4>
        </div>
        <div class="block-B5 inner-Block-B" >
          <samp class="icon-feature_box_B5">
            <img src="/icon/campaign.png" alt="campaign_icon" style="border-radius: 10%;" width="100px" height="110px">
          </samp>
          <h4><a href="#" class="campaign_icon_link link">Campaign</a></h4>
        </div>
        <div class="block-B6 inner-Block-B">
          <samp class="icon-feature_box_B6">
            <img src="/icon/news.png" alt="news_icon" style="border-radius: 10%;" width="100px" height="110px">
          </samp>
          <h4><a href="#" class="News_icon_link link">News & press</a></h4>
        </div>
      </div>
      
    </div>
            
    
  <footer>

  </footer>

  <script>
    // const hamburger=document.querySelector(".hamburger");
// const navMenu=document.querySelector(".nav-menu");

// hamburger.addEventListner("click",()=> {
//     hamburger.classList.toggle("active");
//     navMenu.classList.toggle("active");
// })
// document.querySelectorAll(".nav-link").forEach(n=>n.addEventListener("click",()=>{
// hamburger.classList.remove("active");
// navMenu.classList.remove("active");
// }))
const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".nav-menu");
const container = document.querySelector(".image-block-A");

hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
    container.classList.toggle("containerShrink")
    // container.classList.add("containerShrink");
});

document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
}));




// text scrolling-----------------------------------

var style = document.createElement('style');
var position = 'right';

style.innerHTML = `@keyframes my-animation {
  0% { ${position}: -${document.querySelector('.text').offsetWidth + 20}px; }
  100% { ${position}: 100%; }
}`;

document.head.appendChild(style);





  </script>
  </body>
</html>
