*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/bg.jpeg");
    background-size: cover;
  }
  
  .container {
    background: #bfd5ea;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
  }
  
  header {
    background: #212545;
    color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
  }
  
  header h1, header p {
    margin: 0;
  }
  
  nav {
    padding: 20px 0;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin: 15px 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    border: 1px solid #212545;
    border-radius: 16px;
    transition: background 0.3s, color 0.3s;
  }
  
  .nav-links a:hover {
    background: green;
    color: white;
  }
  
  @media (max-width: 600px) {
    .container {
      width: 100%;
    }
  }
  