body {
    font-family: 'Arial', sans-serif;
    background-color: #9cc0e1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/bg.jpeg");
    background-size: cover;
  
  }
  
  .container {
    background: #bfd5ea;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  header {
    background: #2a2f55;
    color: white;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    padding: 20px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin: 15px 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #080e08;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    border: 1px solid #2a2f55;
    border-radius: 12px;
    transition: background 0.3s, color 0.3s;
  }
  
  .nav-links a:hover {
    background: green;
    color: #9cc0e1;
  }
  