
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
body {
    font-family: 'Arial', sans-serif;
    background-color: #9cc0e1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/bg.jpeg");
    background-size: cover;
  
}

.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    text-align: center;
}

header {
    background: #2a2f55;
    color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

header h1 {
    margin: 0;
}

.candidate-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.candidate-item {
    margin: 10px 0;
    text-align: left;
}

.candidate-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.candidate-label input {
    margin-right: 10px;
}

.candidate-name {
    font-size: 16px;
    color: #333;
}

.submit-btn {
    background-color: #2a2f55;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: green;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .candidate-label {
        flex-direction: column;
        align-items: flex-start;
    }
}
